In [3]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (2.2.2)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (from pandas) (2025.1)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\my_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [4]:
import pandas as pd

In [5]:
df = pd.read_excel("Consumer Price Index - Rural, Urban, Combined (State-Wise)_1.xlsx")
df.head()

,Month,State / Union Teritory,Provisional/ Final,Food and beverages,Unnamed: 4,Food and beverages.1,Unnamed: 6,Food and beverages.2,Unnamed: 8,"Pan, Tobacco and Intoxicants",...,Miscellaneous.1,Unnamed: 36,Miscellaneous.2,Unnamed: 38,General Index,Unnamed: 40,General Index.1,Unnamed: 42,General Index.2,Unnamed: 44
0,NaN,NaN,NaN,Rural,NaN,Urban,NaN,Combined,NaN,Rural,...,Urban,NaN,Combined,NaN,Rural,NaN,Urban,NaN,Combined,NaN
1,NaN,NaN,NaN,Index,Inflation (%),Index,Inflation (%),Index,Inflation (%),Index,...,Index,Inflation (%),Index,Inflation (%),Index,Inflation (%),Index,Inflation (%),Index,Inflation (%)
2,Apr-2025,ALL INDIA,Provisional,386.8,104.12,401,104.49,392,104.27,419.2,...,371.2,109.95,380.6,110.04,388,105.84,381.8,106.71,385.2,106.32
3,Apr-2025,ANDAMAN & NICOBAR ISLANDS,Provisional,426.2,109.64,387.4,103.25,410.2,107.07,410.2,...,353,110.24,364.6,107.99,403,108.05,376.8,105.56,389.6,106.79
4,Apr-2025,ANDHRA PRADESH,Provisional,391.4,100.72,412,102.66,397.6,101.32,432.4,...,394,110.47,396.4,109.96,394.4,104.56,397.6,106.12,395.6,105.19

In [7]:
df.columns

Index(['Month', 'State / Union Teritory', 'Provisional/ Final',
       'Food and beverages', 'Unnamed: 4', 'Food and beverages.1',
       'Unnamed: 6', 'Food and beverages.2', 'Unnamed: 8',
       ' Pan, Tobacco and Intoxicants', 'Unnamed: 10',
       ' Pan, Tobacco and Intoxicants.1', 'Unnamed: 12',
       ' Pan, Tobacco and Intoxicants.2', 'Unnamed: 14',
       'Clothing and footwear', 'Unnamed: 16', 'Clothing and footwear.1',
       'Unnamed: 18', 'Clothing and footwear.2', 'Unnamed: 20', ' Housing',
       'Unnamed: 22', ' Housing.1', 'Unnamed: 24', ' Housing.2', 'Unnamed: 26',
       ' Fuel and Light ', 'Unnamed: 28', ' Fuel and Light .1', 'Unnamed: 30',
       ' Fuel and Light .2', 'Unnamed: 32', ' Miscellaneous', 'Unnamed: 34',
       ' Miscellaneous.1', 'Unnamed: 36', ' Miscellaneous.2', 'Unnamed: 38',
       ' General Index', 'Unnamed: 40', ' General Index.1', 'Unnamed: 42',
       ' General Index.2', 'Unnamed: 44'],
      dtype='object')